@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker');

/* Use .wrap on code cells to avoid scrollbars */
.reveal pre.sourceCode.wrap code {
  white-space: pre-wrap; 
}

/* Match alignment of filename with code */
.code-with-filename .code-with-filename-file {
  padding-left: 9px;
}

/* Catch images that are the only element in a column */
div.column > p:only-child:has(img),  div.column > p:only-child > img {
  margin: 0;
}

.reveal h2 span.small {
  font-size: 0.8em;
}

.ast-diagram {
  width: 100%; 
  height: 600px;
  border:none;
}

.box {
  border: 1px solid grey;
  border-radius: 5px;
}

.marker {
  font-family: "Permanent Marker", cursive;
}

.rotated-text {
  font-weight: 400;
  font-size: 100px; 
  display: inline-block;
  transform: rotate(20deg);
}